@import "reset.scss";
@import "variables.scss";

// Starting with global classes

body {
  background: $posterColor;
  color: $fontColor;
  font-size: 16px;
  line-height: 1.6em;
  font-family: "Open Sans", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.wrapper {
  padding-left: 16px;
  padding-right: 16px;
  clear: both;
}
.intro {
    padding-left: 16px;
    padding-right: 16px;
}
.textIntro {
  font-size: 32px;
  line-height: 1.5em;
  margin-top: 10vh;
}
.textDescription {
  font-size: 16px;
  line-height: 1.5em;
  margin-top: 40px;
}
.wrapper {
  margin-top: 40px;
}
footer {
  padding-bottom: 80px;
}


::selection {
  background: $selection;
}
::-moz-selection {
  background: $selection;
}

a:link, a:visited, a:active {
  color: $accentColor;
  text-decoration: none;
  padding-bottom: 3px;
  border-bottom: 0px solid $accentColor;
  transition: linear 0.2s;
  border-bottom-color: rgba($selection,0%);
}
a:focus, a:hover {
  color: $selection;
  border-bottom-color: $selection;
  border-bottom: 1px solid;
}

.copyright {
  color: $meta;
  margin-top: 16px;
}

.footerNavi {
}
.footerNavi li {
  display: block;
  padding-right: 8px;
}
.footerNavi li a:link, .footerNavi li a:visited, .footerNavi li a:active {
  color: $fontColor;
  display: block;
  border-bottom: 0px solid;
  margin-bottom: 16px;
  margin-top: 16px;
  padding: 0;
}
.footerNavi li a:hover, .footerNavi li a:focus {
  color: $selection;
  border-bottom-color: $selection;
}
.portfolio {
  overflow: hidden;
}
.portfolioItem {
  float: left;
  width: 100%;
  margin-right: 20px;
  margin-bottom: 40px;
    transition: linear 0.2s;
    overflow: visible;
}
.portfolio a:nth-child(3n+0) .portfolioItem {
  margin-right: 0;
}
.fakeLink {
  width: auto;
  color: $accentColor;
  text-decoration: none;
  padding-bottom: 3px;
  border-bottom: 0px solid $accentColor;
  transition: linear 0.2s;
  border-bottom-color: rgba($selection,0%);
}
.portfolioImage {
  position: relative;
  overflow: hidden;
  width: 100%;
  line-height: 0;
  margin-bottom: 16px;
}
.portfolioItem .portfolioImage img {
  width: 100%;
  max-width: 100%;
  -moz-transition: all 0.3s;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.portfolio a {
  color: $fontColor;
  overflow: hidden;
}
.portfolio a:hover .portfolioItem .portfolioImage img{
  -moz-transform: scale(1.05);
  -webkit-transform: scale(1.05);
  transform: scale(1.05);
}
.portfolioItem .fakeLink {
  transition: linear 0.2s;
}
.portfolioItem:hover .fakeLink, .portfolioItem:focus .fakeLink {
  cursor: pointer;
  color: $selection;
  border-bottom-color: $selection;
  border-bottom: 1px solid;
}
// Desktop starts here

@media screen and (min-width: 1280px) {
  .textIntro {
    font-size: 40px;
    line-height: 1.5em;
    margin-top: 20vh;
  }
  .textDescription {
    margin-top: 24px;
    font-size: 24px;
    line-height: 1.5em;
  }
  .wrapper, .intro {
    max-width: 1060px;
    margin: 0 auto;
  }
  .wrapper {
    margin-top: 80px;
  }
  .textwrapper {
    max-width: 700px;
  }
  p {
    margin-bottom: 16px;
  }
  h1 {
    margin-bottom: 32px;
    font-size: 40px;
  }
  section {

  }
  footer {
    padding-bottom: 160px;
  }
  .footerNavi {
  }
  .footerNavi li {
    display: inline-block;
    padding-right: 8px;
  }
  .footerNavi li:last-child::after {
    content: "";
  }
  .footerNavi li a:link, .footerNavi li a:visited, .footerNavi li a:active {
    color: $accentColor;
    display: inherit;
    border-bottom: 1px solid;
    border-bottom-color: rgba($selection,0%);
  }
  .footerNavi li a:hover, .footerNavi li a:focus {
    color: $selection;
    border-bottom-color: $selection;
    border-bottom: 1px solid;
  }
  .portfolioItem {
    width: 340px;
  }

}
