
$nightowlBlue: #1E252D;
$midnightBlue: #2D3642;
$electricBlue: #00C5FF;
$stoneBlue: #A4B3C6;
$airforceBlue: #DCE4ED;
$silverBlue: #F4F6F9;
$trueBlack: #000000;
$trueWhite: #FFFFFF;
$markerYellow: #FFF15A;
